software_company_multi_agent_workflow.json
{
  "name": "Multi-Agent AI Software Company Workflow (Ollama Edition)",
  "nodes": [
    {
      "parameters": {
        "content": "## Phase 1: Executive Orchestration\nCEO receives the user request and breaks it into structured tasks.",
        "height": 500,
        "width": 520,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -20,
        140
      ],
      "id": "sticky-1",
      "name": "Phase 1 Note"
    },
    {
      "parameters": {
        "content": "## Phase 2: Requirements & Architecture\nBA generates user stories. Architect designs tech stack, DB schema & API contracts.",
        "height": 500,
        "width": 920,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        640,
        140
      ],
      "id": "sticky-2",
      "name": "Phase 2 Note"
    },
    {
      "parameters": {
        "content": "## Phase 3: Sequential Engineering\nBackend Developer builds APIs & DB models first.\nFrontend Developer then builds UI against the Architect spec.",
        "height": 500,
        "width": 920,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1600,
        140
      ],
      "id": "sticky-3",
      "name": "Phase 3 Note"
    },
    {
      "parameters": {
        "content": "## Phase 4: QA & Documentation\nQA audits both code branches. Tech Writer compiles all docs.",
        "height": 500,
        "width": 920,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2560,
        140
      ],
      "id": "sticky-4",
      "name": "Phase 4 Note"
    },
    {
      "parameters": {
        "content": "## Phase 5: Executive Delivery\nFinal Agent assembles all outputs into one polished deliverable.",
        "height": 500,
        "width": 360,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3520,
        140
      ],
      "id": "sticky-5",
      "name": "Phase 5 Note"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        360
      ],
      "id": "chat-trigger",
      "name": "When Chat Message Received"
    },
    {
      "parameters": {
        "model": "llama3.2:3b",
        "baseUrl": "http://localhost:11434",
        "options": {
          "numCtx": 8192,
          "numPredict": 4096
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        200,
        560
      ],
      "id": "lm-ceo",
      "name": "Ollama - CEO"
    },
    {
      "parameters": {
        "model": "llama3.2:3b",
        "baseUrl": "http://localhost:11434",
        "options": {
          "numCtx": 8192,
          "numPredict": 4096
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        680,
        560
      ],
      "id": "lm-ba",
      "name": "Ollama - BA"
    },
    {
      "parameters": {
        "model": "llama3.2:3b",
        "baseUrl": "http://localhost:11434",
        "options": {
          "numCtx": 8192,
          "numPredict": 4096
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1160,
        560
      ],
      "id": "lm-arch",
      "name": "Ollama - Architect"
    },
    {
      "parameters": {
        "model": "llama3.2:3b",
        "baseUrl": "http://localhost:11434",
        "options": {
          "numCtx": 8192,
          "numPredict": 4096
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1640,
        560
      ],
      "id": "lm-be",
      "name": "Ollama - Backend"
    },
    {
      "parameters": {
        "model": "llama3.2:3b",
        "baseUrl": "http://localhost:11434",
        "options": {
          "numCtx": 8192,
          "numPredict": 4096
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        2120,
        560
      ],
      "id": "lm-fe",
      "name": "Ollama - Frontend"
    },
    {
      "parameters": {
        "model": "llama3.2:3b",
        "baseUrl": "http://localhost:11434",
        "options": {
          "numCtx": 8192,
          "numPredict": 4096
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        2600,
        560
      ],
      "id": "lm-qa",
      "name": "Ollama - QA"
    },
    {
      "parameters": {
        "model": "llama3.2:3b",
        "baseUrl": "http://localhost:11434",
        "options": {
          "numCtx": 8192,
          "numPredict": 4096
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        3080,
        560
      ],
      "id": "lm-tw",
      "name": "Ollama - TechWriter"
    },
    {
      "parameters": {
        "model": "llama3.2:3b",
        "baseUrl": "http://localhost:11434",
        "options": {
          "numCtx": 8192,
          "numPredict": 4096
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        3560,
        560
      ],
      "id": "lm-merger",
      "name": "Ollama - Merger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are the CEO & Manager Agent of an AI Software Company.\n\nRESPONSIBILITIES:\n- Analyze the user request\n- Break it into tasks for specialized agents\n- NEVER write code or implementation details\n\nReturn ONLY a raw JSON object (no markdown, no backticks):\n{\n  \"project_name\": \"string\",\n  \"summary\": \"string\",\n  \"requirements_task\": \"string\",\n  \"architecture_task\": \"string\",\n  \"frontend_task\": \"string\",\n  \"backend_task\": \"string\",\n  \"testing_task\": \"string\",\n  \"documentation_task\": \"string\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        200,
        360
      ],
      "id": "agent-ceo",
      "name": "1. CEO Manager Agent"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output || $input.first().json.text || '';\ntry {\n  const clean = raw.replace(/```json\\n?/g,'').replace(/```\\n?/g,'').trim();\n  const parsed = JSON.parse(clean);\n  return [{ json: { ceo_plan: parsed } }];\n} catch(e) {\n  return [{ json: { ceo_plan: { project_name:'Project', summary: raw, requirements_task:'Analyze requirements', architecture_task:'Design architecture', frontend_task:'Build frontend', backend_task:'Build backend', testing_task:'QA testing', documentation_task:'Write docs' } } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        360
      ],
      "id": "parse-ceo",
      "name": "Parse CEO Output"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Project: {{ $json.ceo_plan.project_name }}\nSummary: {{ $json.ceo_plan.summary }}\nRequirements Task: {{ $json.ceo_plan.requirements_task }}",
        "options": {
          "systemMessage": "You are the Business Analyst Agent.\n\nReturn ONLY a raw JSON object (no markdown, no backticks):\n{\n  \"features\": [\"string\"],\n  \"user_stories\": [{\"id\":\"US-01\",\"as_a\":\"string\",\"i_want\":\"string\",\"so_that\":\"string\",\"acceptance_criteria\":[\"string\"]}],\n  \"functional_requirements\": [\"string\"],\n  \"non_functional_requirements\": {\"performance\":\"string\",\"security\":\"string\",\"scalability\":\"string\"}\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        680,
        360
      ],
      "id": "agent-ba",
      "name": "2. Business Analyst Agent"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output || $input.first().json.text || '';\nconst ceoPlan = $('Parse CEO Output').first().json.ceo_plan;\ntry {\n  const clean = raw.replace(/```json\\n?/g,'').replace(/```\\n?/g,'').trim();\n  const parsed = JSON.parse(clean);\n  return [{ json: { ceo_plan: ceoPlan, ba_specs: parsed } }];\n} catch(e) {\n  return [{ json: { ceo_plan: ceoPlan, ba_specs: { text: raw } } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        360
      ],
      "id": "parse-ba",
      "name": "Parse BA Output"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Architecture Task: {{ $json.ceo_plan.architecture_task }}\nRequirements: {{ JSON.stringify($json.ba_specs) }}",
        "options": {
          "systemMessage": "You are the Solution Architect Agent.\n\nReturn ONLY a raw JSON object (no markdown, no backticks):\n{\n  \"tech_stack\": {\"frontend\":\"string\",\"backend\":\"string\",\"database\":\"string\",\"auth\":\"string\"},\n  \"folder_structure\": \"string\",\n  \"modules\": [\"string\"],\n  \"api_architecture\": [\"string\"],\n  \"database_schema\": \"string\",\n  \"auth_strategy\": \"string\",\n  \"deployment_approach\": \"string\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1160,
        360
      ],
      "id": "agent-arch",
      "name": "3. Solution Architect Agent"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output || $input.first().json.text || '';\nconst prev = $('Parse BA Output').first().json;\ntry {\n  const clean = raw.replace(/```json\\n?/g,'').replace(/```\\n?/g,'').trim();\n  const parsed = JSON.parse(clean);\n  return [{ json: { ceo_plan: prev.ceo_plan, ba_specs: prev.ba_specs, architecture_specs: parsed } }];\n} catch(e) {\n  return [{ json: { ceo_plan: prev.ceo_plan, ba_specs: prev.ba_specs, architecture_specs: { text: raw } } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        360
      ],
      "id": "parse-arch",
      "name": "Parse Architect Output"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Backend Task: {{ $json.ceo_plan.backend_task }}\nArchitect Specs: {{ JSON.stringify($json.architecture_specs) }}\nBA Requirements: {{ JSON.stringify($json.ba_specs) }}",
        "options": {
          "systemMessage": "You are the Backend Developer Agent.\nDo NOT generate any frontend UI, HTML, or CSS.\n\nReturn ONLY a raw JSON object (no markdown, no backticks):\n{\n  \"rest_apis\": [{\"endpoint\":\"string\",\"method\":\"string\",\"description\":\"string\",\"controller_code\":\"string\"}],\n  \"services\": [{\"name\":\"string\",\"code\":\"string\"}],\n  \"database_models\": [{\"model_name\":\"string\",\"schema_code\":\"string\"}],\n  \"authentication\": \"string\",\n  \"validation\": \"string\",\n  \"business_logic_summary\": \"string\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1640,
        360
      ],
      "id": "agent-be",
      "name": "4. Backend Developer Agent"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output || $input.first().json.text || '';\nconst prev = $('Parse Architect Output').first().json;\ntry {\n  const clean = raw.replace(/```json\\n?/g,'').replace(/```\\n?/g,'').trim();\n  const parsed = JSON.parse(clean);\n  return [{ json: { ceo_plan: prev.ceo_plan, ba_specs: prev.ba_specs, architecture_specs: prev.architecture_specs, backend_code: parsed } }];\n} catch(e) {\n  return [{ json: { ceo_plan: prev.ceo_plan, ba_specs: prev.ba_specs, architecture_specs: prev.architecture_specs, backend_code: { text: raw } } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1880,
        360
      ],
      "id": "parse-be",
      "name": "Parse Backend Output"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Frontend Task: {{ $json.ceo_plan.frontend_task }}\nArchitect Specs: {{ JSON.stringify($json.architecture_specs) }}\nBA Requirements: {{ JSON.stringify($json.ba_specs) }}\nBackend APIs available: {{ JSON.stringify($json.backend_code) }}",
        "options": {
          "systemMessage": "You are the Frontend Developer Agent.\nDo NOT generate any backend controllers, DB models or server-side code.\n\nReturn ONLY a raw JSON object (no markdown, no backticks):\n{\n  \"components\": [{\"name\":\"string\",\"code\":\"string\"}],\n  \"routing\": \"string\",\n  \"state_management\": \"string\",\n  \"folder_structure\": \"string\",\n  \"ui_logic\": \"string\",\n  \"api_integration_plan\": \"string\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        2120,
        360
      ],
      "id": "agent-fe",
      "name": "5. Frontend Developer Agent"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output || $input.first().json.text || '';\nconst prev = $('Parse Backend Output').first().json;\ntry {\n  const clean = raw.replace(/```json\\n?/g,'').replace(/```\\n?/g,'').trim();\n  const parsed = JSON.parse(clean);\n  return [{ json: { ceo_plan: prev.ceo_plan, ba_specs: prev.ba_specs, architecture_specs: prev.architecture_specs, backend_code: prev.backend_code, frontend_code: parsed } }];\n} catch(e) {\n  return [{ json: { ceo_plan: prev.ceo_plan, ba_specs: prev.ba_specs, architecture_specs: prev.architecture_specs, backend_code: prev.backend_code, frontend_code: { text: raw } } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2360,
        360
      ],
      "id": "parse-fe",
      "name": "Parse Frontend Output"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=BA Acceptance Criteria: {{ JSON.stringify($json.ba_specs) }}\nArchitecture: {{ JSON.stringify($json.architecture_specs) }}\nBackend Code: {{ JSON.stringify($json.backend_code) }}\nFrontend Code: {{ JSON.stringify($json.frontend_code) }}",
        "options": {
          "systemMessage": "You are the QA Engineer Agent.\nAudit the frontend and backend code against requirements.\n\nReturn ONLY a raw JSON object (no markdown, no backticks):\n{\n  \"qa_status\": \"PASSED or PASSED WITH WARNINGS or FAILED\",\n  \"bugs_identified\": [{\"severity\":\"HIGH or MED or LOW\",\"component\":\"FE or BE\",\"issue\":\"string\",\"fix\":\"string\"}],\n  \"missing_requirements\": [\"string\"],\n  \"security_audit\": [\"string\"],\n  \"performance_issues\": [\"string\"],\n  \"summary_report\": \"string\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        2600,
        360
      ],
      "id": "agent-qa",
      "name": "6. QA Engineer Agent"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output || $input.first().json.text || '';\nconst prev = $('Parse Frontend Output').first().json;\ntry {\n  const clean = raw.replace(/```json\\n?/g,'').replace(/```\\n?/g,'').trim();\n  const parsed = JSON.parse(clean);\n  return [{ json: { ...prev, qa_report: parsed } }];\n} catch(e) {\n  return [{ json: { ...prev, qa_report: { text: raw } } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2840,
        360
      ],
      "id": "parse-qa",
      "name": "Parse QA Output"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Project: {{ JSON.stringify($json.ceo_plan) }}\nArchitecture: {{ JSON.stringify($json.architecture_specs) }}\nBackend: {{ JSON.stringify($json.backend_code) }}\nFrontend: {{ JSON.stringify($json.frontend_code) }}\nQA Report: {{ JSON.stringify($json.qa_report) }}",
        "options": {
          "systemMessage": "You are the Technical Writer Agent.\nGenerate professional documentation.\n\nReturn ONLY a raw JSON object (no markdown, no backticks):\n{\n  \"readme_md\": \"string\",\n  \"architecture_summary\": \"string\",\n  \"installation_guide\": \"string\",\n  \"api_documentation\": \"string\",\n  \"folder_explanation\": \"string\",\n  \"deployment_instructions\": \"string\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        3080,
        360
      ],
      "id": "agent-tw",
      "name": "7. Technical Writer Agent"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output || $input.first().json.text || '';\nconst prev = $('Parse QA Output').first().json;\ntry {\n  const clean = raw.replace(/```json\\n?/g,'').replace(/```\\n?/g,'').trim();\n  const parsed = JSON.parse(clean);\n  return [{ json: { ...prev, tech_docs: parsed } }];\n} catch(e) {\n  return [{ json: { ...prev, tech_docs: { text: raw } } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3320,
        360
      ],
      "id": "parse-tw",
      "name": "Parse TechWriter Output"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=CEO Plan: {{ JSON.stringify($json.ceo_plan) }}\nBA Specs: {{ JSON.stringify($json.ba_specs) }}\nArchitecture: {{ JSON.stringify($json.architecture_specs) }}\nBackend Code: {{ JSON.stringify($json.backend_code) }}\nFrontend Code: {{ JSON.stringify($json.frontend_code) }}\nQA Report: {{ JSON.stringify($json.qa_report) }}\nDocumentation: {{ JSON.stringify($json.tech_docs) }}",
        "options": {
          "systemMessage": "You are the Executive VP of AI Delivery and Final Synthesizer.\n\nMerge all agent outputs into ONE complete, elegant, well-formatted markdown document.\nYou MUST include ALL 7 sections:\n1. Executive Summary\n2. Features & User Stories Matrix\n3. Architecture & Tech Stack\n4. Backend Code & APIs\n5. Frontend Components & UI Logic\n6. QA & Security Audit Report\n7. Technical Documentation & Deployment Guide\n\nKeep descriptions concise and code examples structured so that ALL sections are fully written and complete without being truncated or cut off at the end."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        3560,
        360
      ],
      "id": "agent-merger",
      "name": "8. Final Executive Merger Agent"
    }
  ],
  "connections": {
    "When Chat Message Received": {
      "main": [
        [
          {
            "node": "1. CEO Manager Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama - CEO": {
      "ai_languageModel": [
        [
          {
            "node": "1. CEO Manager Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "1. CEO Manager Agent": {
      "main": [
        [
          {
            "node": "Parse CEO Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse CEO Output": {
      "main": [
        [
          {
            "node": "2. Business Analyst Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama - BA": {
      "ai_languageModel": [
        [
          {
            "node": "2. Business Analyst Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "2. Business Analyst Agent": {
      "main": [
        [
          {
            "node": "Parse BA Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse BA Output": {
      "main": [
        [
          {
            "node": "3. Solution Architect Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama - Architect": {
      "ai_languageModel": [
        [
          {
            "node": "3. Solution Architect Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "3. Solution Architect Agent": {
      "main": [
        [
          {
            "node": "Parse Architect Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Architect Output": {
      "main": [
        [
          {
            "node": "4. Backend Developer Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama - Backend": {
      "ai_languageModel": [
        [
          {
            "node": "4. Backend Developer Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "4. Backend Developer Agent": {
      "main": [
        [
          {
            "node": "Parse Backend Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Backend Output": {
      "main": [
        [
          {
            "node": "5. Frontend Developer Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama - Frontend": {
      "ai_languageModel": [
        [
          {
            "node": "5. Frontend Developer Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "5. Frontend Developer Agent": {
      "main": [
        [
          {
            "node": "Parse Frontend Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Frontend Output": {
      "main": [
        [
          {
            "node": "6. QA Engineer Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama - QA": {
      "ai_languageModel": [
        [
          {
            "node": "6. QA Engineer Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "6. QA Engineer Agent": {
      "main": [
        [
          {
            "node": "Parse QA Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse QA Output": {
      "main": [
        [
          {
            "node": "7. Technical Writer Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama - TechWriter": {
      "ai_languageModel": [
        [
          {
            "node": "7. Technical Writer Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "7. Technical Writer Agent": {
      "main": [
        [
          {
            "node": "Parse TechWriter Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse TechWriter Output": {
      "main": [
        [
          {
            "node": "8. Final Executive Merger Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama - Merger": {
      "ai_languageModel": [
        [
          {
            "node": "8. Final Executive Merger Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d3e4f5a6-b7c8-9d0e-1f2a-3b4c5d6e7f8a",
  "id": "SoftwareCompanySequentialOllama",
  "meta": {
    "templateId": "multi-agent-software-company-sequential-ollama"
  },
  "tags": []
}