software_company_multi_agent_workflow.json
{
  "name": "Multi-Agent AI Software Company Workflow (Ollama Edition)",
  "nodes": [
    {
      "parameters": {
        "content": "## 1. Executive Orchestration Phase\nReceives user prompt, deconstructs application scope, and delegates targeted tasks without producing implementation code.",
        "height": 420,
        "width": 460,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -40,
        160
      ],
      "id": "sticky-phase-1",
      "name": "Sticky Phase 1"
    },
    {
      "parameters": {
        "content": "## 2. Planning & Architecture Phase\nBusiness Analyst converts tasks into PRD/User Stories. Solution Architect designs tech stack, schemas, and API contracts.",
        "height": 420,
        "width": 960,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        460,
        160
      ],
      "id": "sticky-phase-2",
      "name": "Sticky Phase 2"
    },
    {
      "parameters": {
        "content": "## 3. Concurrent Development Phase\nFrontend and Backend Developer agents work in parallel based strictly on Architect & BA JSON inputs.",
        "height": 600,
        "width": 980,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1460,
        70
      ],
      "id": "sticky-phase-3",
      "name": "Sticky Phase 3"
    },
    {
      "parameters": {
        "content": "## 4. Verification & Documentation Phase\nQA Engineer audits code for bugs and security vulnerabilities. Technical Writer generates complete documentation & README.",
        "height": 420,
        "width": 960,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2480,
        160
      ],
      "id": "sticky-phase-4",
      "name": "Sticky Phase 4"
    },
    {
      "parameters": {
        "content": "## 5. Executive Synthesis Phase\nMerges all agent artifacts into a single unified, executive-grade deliverable.",
        "height": 420,
        "width": 460,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3480,
        160
      ],
      "id": "sticky-phase-5",
      "name": "Sticky Phase 5"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -10,
        300
      ],
      "id": "chat-trigger",
      "name": "When Chat Message Received"
    },
    {
      "parameters": {
        "model": "llama3.2:3b",
        "baseUrl": "http://localhost:11434"
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        180,
        480
      ],
      "id": "lm-ceo",
      "name": "Ollama Model - CEO"
    },
    {
      "parameters": {
        "model": "llama3.2:3b",
        "baseUrl": "http://localhost:11434"
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        680,
        480
      ],
      "id": "lm-ba",
      "name": "Ollama Model - BA"
    },
    {
      "parameters": {
        "model": "llama3.2:3b",
        "baseUrl": "http://localhost:11434"
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1180,
        480
      ],
      "id": "lm-architect",
      "name": "Ollama Model - Architect"
    },
    {
      "parameters": {
        "model": "llama3.2:3b",
        "baseUrl": "http://localhost:11434"
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1680,
        520
      ],
      "id": "lm-frontend",
      "name": "Ollama Model - Frontend"
    },
    {
      "parameters": {
        "model": "llama3.2:3b",
        "baseUrl": "http://localhost:11434"
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1680,
        220
      ],
      "id": "lm-backend",
      "name": "Ollama Model - Backend"
    },
    {
      "parameters": {
        "model": "llama3.2:3b",
        "baseUrl": "http://localhost:11434"
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        2680,
        480
      ],
      "id": "lm-qa",
      "name": "Ollama Model - QA"
    },
    {
      "parameters": {
        "model": "llama3.2:3b",
        "baseUrl": "http://localhost:11434"
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        3180,
        480
      ],
      "id": "lm-techwriter",
      "name": "Ollama Model - TechWriter"
    },
    {
      "parameters": {
        "model": "llama3.2:3b",
        "baseUrl": "http://localhost:11434"
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        3680,
        480
      ],
      "id": "lm-merger",
      "name": "Ollama Model - ExecutiveMerger"
    },
    {
      "parameters": {
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=You are the Chief Executive Officer (CEO) & Manager Agent of an elite AI Software Company.\n\nRESPONSIBILITIES:\n1. Analyze the user's software project request.\n2. Deconstruct the project into specialized, actionable tasks for downstream agents.\n3. Decide project scope and generate structured JSON.\n4. STRICT RULE: You NEVER generate implementation details, code, API handlers, UI components, or DB schemas.\n\nOUTPUT FORMAT:\nYou MUST return ONLY valid JSON matching this schema exactly:\n{\n  \"project_name\": \"String\",\n  \"summary\": \"String\",\n  \"requirements_task\": \"String\",\n  \"architecture_task\": \"String\",\n  \"frontend_task\": \"String\",\n  \"backend_task\": \"String\",\n  \"testing_task\": \"String\",\n  \"documentation_task\": \"String\"\n}"
        },
        "promptType": "define"
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        180,
        300
      ],
      "id": "agent-ceo",
      "name": "1. CEO / Manager Agent"
    },
    {
      "parameters": {
        "jsCode": "let rawText = $input.first().json.output || $input.first().json.text || '';\ntry {\n  const clean = rawText.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  const parsed = JSON.parse(clean);\n  return [{ json: { ceo_plan: parsed } }];\n} catch (e) {\n  return [{ json: { ceo_plan: {\n    project_name: \"Software Project\",\n    summary: rawText,\n    requirements_task: \"Analyze requirements based on user request\",\n    architecture_task: \"Design modular solution architecture\",\n    frontend_task: \"Build responsive modern frontend interface\",\n    backend_task: \"Build scalable REST API backend service\",\n    testing_task: \"Perform full QA and security audit\",\n    documentation_task: \"Generate complete deployment & API docs\"\n  } } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        360,
        300
      ],
      "id": "parse-ceo",
      "name": "Parse CEO JSON"
    },
    {
      "parameters": {
        "text": "=Project Name: {{ $json.ceo_plan.project_name }}\nSummary: {{ $json.ceo_plan.summary }}\nRequirements Task: {{ $json.ceo_plan.requirements_task }}",
        "options": {
          "systemMessage": "=You are the Business Analyst (BA) Agent of an elite AI Software Company.\n\nRESPONSIBILITIES:\n1. Analyze requirements from the CEO Manager.\n2. Identify features, epic breakdown, user stories with acceptance criteria.\n3. Formulate non-functional requirements (security, performance, compliance, accessibility).\n\nOUTPUT FORMAT:\nReturn ONLY valid JSON with no conversational text or markdown codeblocks:\n{\n  \"project_name\": \"String\",\n  \"features\": [\"String\"],\n  \"user_stories\": [\n    {\n      \"id\": \"US-01\",\n      \"as_a\": \"String\",\n      \"i_want\": \"String\",\n      \"so_that\": \"String\",\n      \"acceptance_criteria\": [\"String\"]\n    }\n  ],\n  \"functional_requirements\": [\"String\"],\n  \"non_functional_requirements\": {\n    \"performance\": \"String\",\n    \"security\": \"String\",\n    \"scalability\": \"String\"\n  }\n}"
        },
        "promptType": "define"
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        500,
        300
      ],
      "id": "agent-ba",
      "name": "2. Business Analyst Agent"
    },
    {
      "parameters": {
        "jsCode": "let rawText = $input.first().json.output || $input.first().json.text || '';\nlet ceoPlan = $('Parse CEO JSON').first().json.ceo_plan;\ntry {\n  const clean = rawText.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  const parsed = JSON.parse(clean);\n  return [{ json: { ceo_plan: ceoPlan, ba_specs: parsed } }];\n} catch (e) {\n  return [{ json: { ceo_plan: ceoPlan, ba_specs: { text: rawText } } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        840,
        300
      ],
      "id": "parse-ba",
      "name": "Parse BA JSON"
    },
    {
      "parameters": {
        "text": "=CEO Architecture Task: {{ $json.ceo_plan.architecture_task }}\nBA Functional Requirements: {{ JSON.stringify($json.ba_specs) }}",
        "options": {
          "systemMessage": "=You are the Solution Architect Agent of an elite AI Software Company.\n\nRESPONSIBILITIES:\n1. Design end-to-end technical system architecture based on BA requirements.\n2. Define tech stack, directory folder structure, architectural pattern (MVC/Microservices/Clean Architecture).\n3. Design API contracts, Database Entity-Relationship models, Authentication mechanism, and Deployment strategy.\n\nOUTPUT FORMAT:\nReturn ONLY valid JSON:\n{\n  \"tech_stack\": {\n    \"frontend\": \"String\",\n    \"backend\": \"String\",\n    \"database\": \"String\",\n    \"auth\": \"String\"\n  },\n  \"folder_structure\": \"String\",\n  \"modules\": [\"String\"],\n  \"api_architecture\": [\"String\"],\n  \"database_schema\": \"String\",\n  \"auth_strategy\": \"String\",\n  \"deployment_approach\": \"String\"\n}"
        },
        "promptType": "define"
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        980,
        300
      ],
      "id": "agent-architect",
      "name": "3. Solution Architect Agent"
    },
    {
      "parameters": {
        "jsCode": "let rawText = $input.first().json.output || $input.first().json.text || '';\nlet ceoPlan = $('Parse BA JSON').first().json.ceo_plan;\nlet baSpecs = $('Parse BA JSON').first().json.ba_specs;\ntry {\n  const clean = rawText.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  const parsed = JSON.parse(clean);\n  return [{ json: { ceo_plan: ceoPlan, ba_specs: baSpecs, architecture_specs: parsed } }];\n} catch (e) {\n  return [{ json: { ceo_plan: ceoPlan, ba_specs: baSpecs, architecture_specs: { text: rawText } } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        300
      ],
      "id": "parse-architect",
      "name": "Parse Architect JSON"
    },
    {
      "parameters": {
        "text": "=Frontend Task: {{ $json.ceo_plan.frontend_task }}\nBA Requirements: {{ JSON.stringify($json.ba_specs) }}\nArchitect Tech Stack & Specs: {{ JSON.stringify($json.architecture_specs) }}",
        "options": {
          "systemMessage": "=You are the Frontend Developer Agent of an elite AI Software Company.\n\nRESPONSIBILITIES:\n1. Implement full UI design, client-side routing, state management, and component architecture.\n2. Write modern code components (React/Next.js/Vue/Vanilla HTML+CSS+JS).\n3. Provide API integration plan matching Architect API specifications.\n4. STRICT RULE: Do NOT generate backend controllers, database queries, or server code.\n\nOUTPUT FORMAT:\nReturn ONLY valid JSON:\n{\n  \"components\": [{\"name\": \"String\", \"code\": \"String\"}],\n  \"routing\": \"String\",\n  \"state_management\": \"String\",\n  \"folder_structure\": \"String\",\n  \"ui_logic\": \"String\",\n  \"api_integration_plan\": \"String\"\n}"
        },
        "promptType": "define"
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1500,
        420
      ],
      "id": "agent-frontend",
      "name": "4. Frontend Developer Agent"
    },
    {
      "parameters": {
        "text": "=Backend Task: {{ $json.ceo_plan.backend_task }}\nBA Requirements: {{ JSON.stringify($json.ba_specs) }}\nArchitect Specs: {{ JSON.stringify($json.architecture_specs) }}",
        "options": {
          "systemMessage": "=You are the Backend Developer Agent of an elite AI Software Company.\n\nRESPONSIBILITIES:\n1. Implement robust RESTful APIs, business logic controllers, service layers, DB models, authentication middleware, and input validation.\n2. Ensure error handling and secure data serialization.\n3. STRICT RULE: Do NOT generate frontend UI components, styling, or HTML templates.\n\nOUTPUT FORMAT:\nReturn ONLY valid JSON:\n{\n  \"rest_apis\": [{\"endpoint\": \"String\", \"method\": \"String\", \"controller_code\": \"String\"}],\n  \"services\": [{\"name\": \"String\", \"code\": \"String\"}],\n  \"database_models\": [{\"model_name\": \"String\", \"schema_code\": \"String\"}],\n  \"authentication\": \"String\",\n  \"validation\": \"String\",\n  \"business_logic_summary\": \"String\"\n}"
        },
        "promptType": "define"
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1500,
        140
      ],
      "id": "agent-backend",
      "name": "5. Backend Developer Agent"
    },
    {
      "parameters": {
        "jsCode": "let frontendRaw = $('4. Frontend Developer Agent').first().json.output || $('4. Frontend Developer Agent').first().json.text || '';\nlet backendRaw = $('5. Backend Developer Agent').first().json.output || $('5. Backend Developer Agent').first().json.text || '';\nlet sharedSpecs = $('Parse Architect JSON').first().json;\n\nlet feParsed, beParsed;\ntry { feParsed = JSON.parse(frontendRaw.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim()); } catch(e) { feParsed = { raw: frontendRaw }; }\ntry { beParsed = JSON.parse(backendRaw.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim()); } catch(e) { beParsed = { raw: backendRaw }; }\n\nreturn [{\n  json: {\n    ceo_plan: sharedSpecs.ceo_plan,\n    ba_specs: sharedSpecs.ba_specs,\n    architecture_specs: sharedSpecs.architecture_specs,\n    frontend_code: feParsed,\n    backend_code: beParsed\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        300
      ],
      "id": "merge-dev-outputs",
      "name": "Merge Code Outputs"
    },
    {
      "parameters": {
        "text": "=BA Acceptance Criteria: {{ JSON.stringify($json.ba_specs) }}\nArchitecture Specs: {{ JSON.stringify($json.architecture_specs) }}\nFrontend Output: {{ JSON.stringify($json.frontend_code) }}\nBackend Output: {{ JSON.stringify($json.backend_code) }}",
        "options": {
          "systemMessage": "=You are the Lead QA Engineer Agent of an elite AI Software Company.\n\nRESPONSIBILITIES:\n1. Audit Frontend and Backend outputs against BA User Stories and Architect Specs.\n2. Detect bugs, unhandled edge cases, missing requirements, security vulnerabilities (OWASP Top 10), and performance bottlenecks.\n3. Provide concrete remediation fixes and a QA Approval Status (PASSED / PASSED WITH WARNINGS / FAILED).\n\nOUTPUT FORMAT:\nReturn ONLY valid JSON:\n{\n  \"qa_status\": \"PASSED | PASSED WITH WARNINGS | FAILED\",\n  \"bugs_identified\": [{\"severity\": \"HIGH|MED|LOW\", \"component\": \"FE|BE\", \"issue\": \"String\", \"fix\": \"String\"}],\n  \"missing_requirements\": [\"String\"],\n  \"security_audit\": [\"String\"],\n  \"performance_issues\": [\"String\"],\n  \"summary_report\": \"String\"\n}"
        },
        "promptType": "define"
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        2500,
        300
      ],
      "id": "agent-qa",
      "name": "6. QA Engineer Agent"
    },
    {
      "parameters": {
        "jsCode": "let rawText = $input.first().json.output || $input.first().json.text || '';\nlet previousData = $('Merge Code Outputs').first().json;\ntry {\n  const clean = rawText.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  const parsed = JSON.parse(clean);\n  return [{ json: { ...previousData, qa_report: parsed } }];\n} catch (e) {\n  return [{ json: { ...previousData, qa_report: { text: rawText } } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2840,
        300
      ],
      "id": "parse-qa",
      "name": "Parse QA JSON"
    },
    {
      "parameters": {
        "text": "=Project Context: {{ JSON.stringify($json.ceo_plan) }}\nArchitecture Specs: {{ JSON.stringify($json.architecture_specs) }}\nFrontend Code: {{ JSON.stringify($json.frontend_code) }}\nBackend Code: {{ JSON.stringify($json.backend_code) }}\nQA Report: {{ JSON.stringify($json.qa_report) }}",
        "options": {
          "systemMessage": "=You are the Lead Technical Writer Agent of an elite AI Software Company.\n\nRESPONSIBILITIES:\n1. Compile complete, professional documentation suite for the software release.\n2. Create production-ready README.md, System Architecture Overview, Environment Setup & Installation Guide, REST API Reference Docs, Directory Structure Map, and Deployment Procedures (Docker / CI/CD).\n\nOUTPUT FORMAT:\nReturn ONLY valid JSON:\n{\n  \"readme_md\": \"String\",\n  \"architecture_summary\": \"String\",\n  \"installation_guide\": \"String\",\n  \"api_documentation\": \"String\",\n  \"folder_explanation\": \"String\",\n  \"deployment_instructions\": \"String\"\n}"
        },
        "promptType": "define"
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        3000,
        300
      ],
      "id": "agent-techwriter",
      "name": "7. Technical Writer Agent"
    },
    {
      "parameters": {
        "jsCode": "let rawText = $input.first().json.output || $input.first().json.text || '';\nlet previousData = $('Parse QA JSON').first().json;\ntry {\n  const clean = rawText.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  const parsed = JSON.parse(clean);\n  return [{ json: { ...previousData, tech_docs: parsed } }];\n} catch (e) {\n  return [{ json: { ...previousData, tech_docs: { text: rawText } } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3340,
        300
      ],
      "id": "parse-techwriter",
      "name": "Parse TechWriter JSON"
    },
    {
      "parameters": {
        "text": "=Complete Company Artifacts:\n- CEO Vision: {{ JSON.stringify($json.ceo_plan) }}\n- BA Requirements: {{ JSON.stringify($json.ba_specs) }}\n- Architecture Specs: {{ JSON.stringify($json.architecture_specs) }}\n- Frontend Code: {{ JSON.stringify($json.frontend_code) }}\n- Backend Code: {{ JSON.stringify($json.backend_code) }}\n- QA Audit Report: {{ JSON.stringify($json.qa_report) }}\n- Technical Documentation: {{ JSON.stringify($json.tech_docs) }}",
        "options": {
          "systemMessage": "=You are the Executive Vice President of AI Delivery and Final Synthesizer Agent.\n\nRESPONSIBILITIES:\n1. Collect and review artifacts produced by all 7 specialized agents (CEO, BA, Solution Architect, Frontend Dev, Backend Dev, QA Engineer, Tech Writer).\n2. Merge and format everything into a single, masterfully structured, elegant markdown report.\n3. Present the user with an impressive, end-to-end software package including executive summary, requirements, full architecture, frontend code, backend code, QA report, and setup/deployment guides.\n4. Deliver an executive-level presentation that wows the user."
        },
        "promptType": "define"
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        3500,
        300
      ],
      "id": "agent-merger",
      "name": "8. Final Executive Merger Agent"
    }
  ],
  "connections": {
    "When Chat Message Received": {
      "main": [
        [
          {
            "node": "1. CEO / Manager Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model - CEO": {
      "ai_languageModel": [
        [
          {
            "node": "1. CEO / Manager Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "1. CEO / Manager Agent": {
      "main": [
        [
          {
            "node": "Parse CEO JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse CEO JSON": {
      "main": [
        [
          {
            "node": "2. Business Analyst Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model - BA": {
      "ai_languageModel": [
        [
          {
            "node": "2. Business Analyst Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "2. Business Analyst Agent": {
      "main": [
        [
          {
            "node": "Parse BA JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse BA JSON": {
      "main": [
        [
          {
            "node": "3. Solution Architect Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model - Architect": {
      "ai_languageModel": [
        [
          {
            "node": "3. Solution Architect Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "3. Solution Architect Agent": {
      "main": [
        [
          {
            "node": "Parse Architect JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Architect JSON": {
      "main": [
        [
          {
            "node": "4. Frontend Developer Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "5. Backend Developer Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model - Frontend": {
      "ai_languageModel": [
        [
          {
            "node": "4. Frontend Developer Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model - Backend": {
      "ai_languageModel": [
        [
          {
            "node": "5. Backend Developer Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "4. Frontend Developer Agent": {
      "main": [
        [
          {
            "node": "Merge Code Outputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5. Backend Developer Agent": {
      "main": [
        [
          {
            "node": "Merge Code Outputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Code Outputs": {
      "main": [
        [
          {
            "node": "6. QA Engineer Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model - QA": {
      "ai_languageModel": [
        [
          {
            "node": "6. QA Engineer Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "6. QA Engineer Agent": {
      "main": [
        [
          {
            "node": "Parse QA JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse QA JSON": {
      "main": [
        [
          {
            "node": "7. Technical Writer Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model - TechWriter": {
      "ai_languageModel": [
        [
          {
            "node": "7. Technical Writer Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "7. Technical Writer Agent": {
      "main": [
        [
          {
            "node": "Parse TechWriter JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse TechWriter JSON": {
      "main": [
        [
          {
            "node": "8. Final Executive Merger Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model - ExecutiveMerger": {
      "ai_languageModel": [
        [
          {
            "node": "8. Final Executive Merger Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c2b3d4e5-f6a7-8b9c-0d1e-2f3a4b5c6d7e",
  "id": "SoftwareCompanyMultiAgentWorkflowOllama",
  "meta": {
    "templateId": "multi-agent-software-company-n8n-ollama"
  },
  "tags": []
}